body{
    background-image: url(../assets/img/fondo1.jpg);
}
#navbar{
    background-color: #7952B3;
}
/*navbar*/
#link{
    color:white;
}
#Menu{
    color:white;
}
#table1{
    background-color: #7952B3;
    color: white;
}
#table2{
    background-color: #5c3e88;
    color: white;
}
p{
    font-size: 20px;
}
li{
    font-size: 20px;
}

img{
    padding-top: 20%;
    padding-left: 20%;
}
